svg {
    background-color: white;
}

#canvas {
    min-width: 1000px;
    min-height: 600px;
}

.state {
    stroke: #fff;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.gradient {
    display: flex;
    flex-direction: column;
}

.home-container {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    padding-left: 80px;
}

.base-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 30%;
    padding-left: 10px;
    background-color: powderblue;
}

.heading {
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.dropdownTag {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    width: 60%;

}

.chooseYear {
    font-size: x-large;
}

.chooseOption {
    font-size: x-large;
}

.chooseState {
    font-size: x-large;
}

.legend {
    padding-top: 20px;
}